<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%level %c{10} - %m%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="mapping.log" filePattern="mapping.log.%i">
            <PatternLayout>
                <Pattern>%r %t %d: %-5p (%c) >> %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2000" fileIndex="min"/>
        </RollingFile>
    </Appenders>
</Configuration>